/*
 *  Colors:
 *  ONYX:           #31393C
 *  SPACE CADET:    #1A3D51
 *  ASH GREY:       #1A3D51
 *  NICKEL:         #637074
 *  WHITE:          #FFFFFF
 */

body{
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

div.cover-items{
  position: absolute;
  height: 1500px;
  width: 100%;
  z-index: 2;
}

div.cover-items h2{
  font-size: 60px;
  margin: 20px 0px;
  color: black;
  opacity: 0;
  white-space: nowrap;
}

div.hero{
  height: 100%;
  width: 100%;
  background-color: white;
}

div.left{
  top: 40vh;
  left: 20vw;
  position: fixed;
}

div.right{
  top: 23vh;
  left: 65vw;
  position: fixed;
}

div.cover-items h3{
  font-size: 30px;
  color: black;
  opacity: 0;
  margin-bottom: 100px;
  white-space: nowrap;
  overflow: hidden;
}

div.cover-items h3:hover{
  cursor: pointer;
  opacity: 0.3;
}

img.sm{
  width: 40px;
  opacity: 0;
}

img.sm:hover{
  cursor: pointer;
}

/*-------Parallax---------*/

div.particle-parallax{
  height: 300px;
  width: 100%;
  background-color: transparent;
  z-index: 2;
}

#particles-js{
  background-color: #fafafa;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 150vh;
}

/*-------More Content-----*/

div.more-content{
  position: absolute;
  height: 500px;
  width: 100%;
  background-color: transparent;
  z-index: 3;
}

div.info-section{
  background-color: white;
  color: black;
  padding: 20px;
}

div.info-section h1, div.info-section p,  div.info-section h4{
  margin-left: 30px;
}
 div.info-section h4{
   font-size: 20px;
 }

.black{
  background-color: black !important;
  color: white !important;
}

div.spacer{
  background-color: transparent;
  height: 50px;
}

@media only screen and (max-width: 1100px) {
  div.left{
    top: 5vh;
    left: 50vw;
    margin-left: -148px;
    position: fixed;
  }

  div.right{
    top: 25vh;
    left: 50vw;
    margin-left: -45px;
    position: fixed;
  }

  div.cover-items h2{
    font-size: 40px;
    margin-left: 37 !important;
  }

  div.cover-items h3{
    font-size: 20px;
  }

  img.sm{
    width: 30px;
    opacity: 0;
    margin-left: 10px;
  }
}
